body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
    background-color: lightgrey;
    border-radius: 8px;
    width: 35%;
    gap: 0.5em;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.login > a {
    text-decoration: none;
    color: rgb(0, 128, 255);
}

.dropdown {
    position: relative; /* in order to position dropdown menu directly under the user image */
    margin-left: auto;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    /* box shadow directly underneath, 2px below the menu itself, 5px size of shadow, black color shadow with 30% opacity*/
    opacity: 0;
    pointer-events: none;
    /* dont show when page loads, cannot be clicked on*/
}

.dropdown-menu-visible {
    opacity: 1;
    pointer-events: auto;
}


#user-icon {
    background: url("/res/img/profile.jpg");
    background-size: 50px;
    width: 50px;
    aspect-ratio: 1;
    border: 0;
}

.text-input {
    width: 40%;
    border-radius: 0px;
    border: none;
    height: 2em;
    margin: 0.3em;
}

.text-input:focus { /*Gets rid of the ugly black border when entering text*/
    outline: none;
}

.login form {
    text-align: center;
}

#submit-button {
    background-color: #4646FF;
    color: white;
    border: 0px;
    padding-inline: 1em;
    padding-block: 0.3em;
    margin: 0.6em;
}

::placeholder { /*This affects the placeholder text in the input fields*/ 
    opacity: 0.5;
}



@media (max-width: 600px) { /* For smartphones */
    .login {
        width: 70%;
    }
}