body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6em;
    background-color: lightgrey;
    border-radius: 8px;
    width: 35%;
    gap: 0.5em;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.login > a {
    text-decoration: none;
    color: rgb(0, 128, 255);
}


.text-input {
    width: 40%;
    border-radius: 0px;
    border: none;
    height: 2em;
    margin: 0.3em;
}

.text-input:focus { /*Gets rid of the ugly black border when entering text*/
    outline: none;
}

.login form {
    text-align: center;
}

#submit-button {
    background-color: #4646FF;
    color: white;
    border: 0px;
    padding-inline: 1em;
    padding-block: 0.3em;
    margin: 0.6em;
}

::placeholder { /*This affects the placeholder text in the input fields*/ 
    opacity: 0.5;
}



@media (max-width: 600px) { /* For smartphones */
    .login {
        width: 70%;
    }
}