#header {
    margin: 8px;
    display: flex;
    padding: 0.5em;
    background-color: lightgrey;
    border-radius: 10px;
}

#header > a {
    padding: 1em;
}

#header > a:hover {
    background-color:#4646FF;
}
/*
#header > img {
    width: 100%;
    max-width: 40px;
    margin-left: auto;
    object-fit: contain;
}*/

.dropdown {
    position: relative; /* in order to position dropdown menu directly under the user image */
    margin-left: auto;
}

.dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: auto;
    right: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    /* box shadow directly underneath, 2px below the menu itself, 5px size of shadow, black color shadow with 30% opacity*/
    opacity: 0;
    pointer-events: none;
    /* dont show when page loads, cannot be clicked on*/
}

.dropdown-menu-visible {
    opacity: 1;
    pointer-events: auto;
}


#user-icon {
    background: url("/res/img/profile.jpg");
    background-size: 50px;
    width: 50px;
    aspect-ratio: 1;
    border: 0;
}
