#header {
    top: 0;
    display: flex;
    padding: 0.5em 2em;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
}

#header > a {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 30px;
    background-color:rgb(235, 235, 235);
    margin: auto 10px;
    text-decoration: none;
}

#header > a:visited {
    color: black;
}
#header > a:hover {
    background-color:#cecece;
}
/*
#header > img {
    width: 100%;
    max-width: 40px;
    margin-left: auto;
    object-fit: contain;
}*/

.dropdown {
    position: relative; /* in order to position dropdown menu directly under the user image */
    margin-left: auto;
}

.dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: auto;
    right: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    /* box shadow directly underneath, 2px below the menu itself, 5px size of shadow, black color shadow with 30% opacity*/
    opacity: 0;
    pointer-events: none;
    /* dont show when page loads, cannot be clicked on*/
}

.dropdown-menu-visible {
    opacity: 1;
    pointer-events: auto;
}


#user-icon {
    background: url("../img/profile.jpg");
    background-size: 50px;
    width: 50px;
    aspect-ratio: 1;
    border: 0;
}
