body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background: lightgrey;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    
}

.navbar li {
    padding: 10px;
    margin: 0 20%;
}

.navbar li:hover{
    background-color: lightgrey;
}

.navbar a {
    font-size: 2rem;
    text-decoration: none;
    color: black;
}


.addPost{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;

}

.addPost > div {
    background: lightgrey;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
}

.addPostGrid {
    padding: 2em;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
}

.addPostGrid textarea {
    resize: none;
    height: 5rem;
}



#createPostButton{
    font-family: "Courier New", serif;
    border: none;
    background: #4646FF;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
}
